In [1]:
import pandas as pd
import openpyxl
from openpyxl.styles import PatternFill

In [29]:
df_base = pd.read_excel('базаа.xlsx')
df_request = pd.read_excel('запрос.xlsx')

In [30]:
df_base['Аналоги_split'] = df_base['Аналоги'].apply(lambda x: x.split('\n'))

In [31]:
exploded_df = df_base.explode('Аналоги_split')

In [32]:
exploded_df['Аналоги_split'] = exploded_df['Аналоги_split'].apply(lambda x: x.split(' - ')[1].strip(' ,.-'))

In [33]:
df_base_1 = exploded_df[['Каталожный номер', 'Аналоги_split']].astype(str).reset_index(drop=True)
df_base_1

  Каталожный номер Аналоги_split
0              111       SC90248
1              222           111
2              333        OE3011
3              444           333
4              444       P763577
5     2901 0523 00        OE3012
6     2901 0523 23        OE3011

In [34]:
def initial_df_to_base(path='базаа.xlsx'):
    initial_df = pd.read_excel(path)
    initial_df['Аналоги_split'] = initial_df['Аналоги'].apply(lambda x: x.split('\n'))
    exploded_df = initial_df.explode('Аналоги_split')
    exploded_df['Аналоги_split'] = exploded_df['Аналоги_split'].apply(lambda x: x.split(' - ')[1].strip(' ,.-'))
    df_base = exploded_df[['Каталожный номер', 'Аналоги_split']].astype(str).reset_index(drop=True)

    return df_base

In [35]:
def request_df_to_request_list(path='запрос.xlsx'):
    df_request = pd.read_excel(path)
    request_numbers_list = df_request['Каталожный номер'].astype(str).to_list()
    
    return request_numbers_list

In [36]:
def num_finder(df_base_fixed, request_numbers_list):
    nums_list = []
    for num in request_numbers_list:
        for i in df_base_fixed.index:
            cat_num = df_base_fixed.loc[i, 'Каталожный номер']
            analog_num = df_base_fixed.loc[i, 'Аналоги_split']
            if num == cat_num or num == analog_num:
                nums_list.append(num)
    
    return nums_list

In [37]:
def request_handler(nums_list, path='базаа.xlsx'):
    df_base = pd.read_excel(path)
    df_base['Каталожный номер'] = df_base['Каталожный номер'].astype('str')
    return_df = df_base[df_base['Каталожный номер'].astype(str).isin(nums_list)]
    
    return_df.to_excel('response.xlsx', index=False)
    return return_df

In [38]:
nums = num_finder(initial_df_to_base(), request_df_to_request_list())
nums

['2901 0523 00', '111', '111', '333', '333']

In [39]:
request_handler(nums)

,№,Наименование,Каталожный номер,Производитель,"Цена от Элона, юани","Цена от Эрика, юани","Цена от Люси, юани",Аналоги,Ссылка,Наличие чертежа
0,1,филтр,111,"Atlas Copco, ШВЕЦИЯ",34.0,936.159,7.0,hi-fi - SC90248,https://ru.filters-king.com/cabin-air-filter-5...,NaN
2,3,корпус,333,"Atlas Copco, ШВЕЦИЯ",55.0,3485.986,NaN,hi-fi - OE3011,https://doring.ru/tovar/atlas-copco-2901052300/,NaN
4,5,Сепаратор 2901 0523 00 Atlas Copco,2901 0523 00,"Atlas Copco, ШВЕЦИЯ",NaN,3485.986,NaN,hi-fi - OE3012,https://doring.ru/tovar/atlas-copco-2901052300/,NaN

In [40]:
workbook = openpyxl.load_workbook('базаа.xlsx')
sheet = workbook['Лист1']

In [41]:
fill = PatternFill(start_color="ebf051", end_color="ebf051", fill_type="solid")

In [42]:
unfilled_list = []
a = 1
for row in range(1, sheet.max_row + 1):
    cell = sheet.cell(row=row, column=3)
    if str(cell.value) in nums:
        cell.fill = fill
    else:
        unfilled_list.append(a)
    a += 1
    
b = 1
for row in range(1, sheet.max_row + 1):
    cell = sheet.cell(row=row, column=8)
    if b in unfilled_list:
        cell.fill = fill
        
workbook.save('example_highlighted.xlsx')

In [43]:
def request_df_to_request_list(path='запрос.xlsx'):
    df_request = pd.read_excel(path)
    request_numbers_list = df_request['Каталожный номер'].astype(str).to_list()

    return request_numbers_list


def num_finder(df_base, request_numbers_list):
    nums_list = []
    for num in request_numbers_list:
        for i in df_base.index:
            cat_num = df_base.loc[i, 'Каталожный номер']
            analog_num = df_base.loc[i, 'Аналоги_split']
            if num == cat_num or num == analog_num:
                nums_list.append(num)

    return nums_list

In [44]:
num_finder(df_base()

SyntaxError: incomplete input (2341676987.py, line 1)

In [53]:
def request_handler(nums_list, path='базаа.xlsx'):
    rows_list = []
    initial_df = pd.read_excel(path)
    for i in initial_df.index:
        for num in nums_list:
            if (num in str(initial_df.loc[i, 'Каталожный номер'])) or (num in str(initial_df.loc[i, 'Аналоги'])):
                rows_list.append(initial_df.loc[[i]])
    return_df = pd.concat(rows_list)
    return_df = return_df.drop_duplicates(keep='first')
    return return_df 
    # output = io.BytesIO()
    # with pd.ExcelWriter(output, engine='openpyxl') as writer:
    #     return_df.to_excel(writer, index=False)
    # output.seek(0)
    # 
    # workbook = openpyxl.load_workbook(output)
    # sheet = workbook['Sheet1']
    # fill = PatternFill(start_color="ebf051", end_color="ebf051", fill_type="solid")
    # 
    # for row in range(1, sheet.max_row + 1):
    #     cell = sheet.cell(row=row, column=3)
    #     for num in nums_list:
    #         if num in str(cell.value):
    #             cell.fill = fill
    # 
    # 
    # 
    # for row in range(1, sheet.max_row + 1):
    #     cell = sheet.cell(row=row, column=8)
    #     for num in nums_list:
    #         if num in str(cell.value):
    #             cell.fill = fill
    # 
    # 
    # return workbook

In [54]:
request_handler(num_finder(initial_df_to_base(), request_df_to_request_list()))

,№,Наименование,Каталожный номер,Производитель,"Цена от Элона, юани","Цена от Эрика, юани","Цена от Люси, юани",Аналоги,Ссылка,Наличие чертежа
0,1,филтр,111,"Atlas Copco, ШВЕЦИЯ",34.0,936.159,7.0,hi-fi - SC90248,https://ru.filters-king.com/cabin-air-filter-5...,NaN
1,2,фильтр пп,222,"Atlas Copco, ШВЕЦИЯ",NaN,968.800,NaN,hi-fi - 111,https://ru.filters-king.com/cabin-air-filter-5...,NaN
2,3,корпус,333,"Atlas Copco, ШВЕЦИЯ",55.0,3485.986,NaN,hi-fi - OE3011,https://doring.ru/tovar/atlas-copco-2901052300/,NaN
3,4,элемент фильтра,444,"Atlas Copco, ШВЕЦИЯ",NaN,209.678,NaN,"hi-fi - 333, \nDonaldson - P763577",https://doring.ru/search/?q=3222188132&s=,NaN
4,5,Сепаратор 2901 0523 00 Atlas Copco,2901 0523 00,"Atlas Copco, ШВЕЦИЯ",NaN,3485.986,NaN,hi-fi - OE3012,https://doring.ru/tovar/atlas-copco-2901052300/,NaN